@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* Fond de page : Gris 900 (Presque noir, pour la profondeur) */
  --background: #111827; 
  
  /* Texte : Gris très clair */
  --foreground: #e5e7eb;
}

/* Vos cartes (dans le code TSX) sont probablement en bg-gray-800.
   Avec un fond de page #111827 (Gray 900), les cartes #1f2937 (Gray 800) 
   vont parfaitement ressortir. */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark;
}